@font-face {
  font-family: serif;
  src: local('Toppan Bunkyu Mincho Regular');
}

@font-face {
  font-family: sans-serif;
  src: local('Tsukushi B Round Gothic Regular');
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: 'Toppan Bunkyu Midashi Mincho Extrabold';*/
  font-family: 'Tsukushi B Round Gothic Bold' !important;
}

@font-face {
  font-family: monospace;
  src: local('OpenDyslexicMono');
}
